<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign Up</title>
</head>

<!-- views/auth/sign-up.ejs -->

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Create a new account</h1>
        <div class="auth-form-signup">
            <img src="../images/woman-reading-book-home-surrounded-by-plants-radio.png"
                alt="Woman reading a book at home" id="woman-reading-book" />

            <form action="/auth/sign-up" method="POST">

                <div class="auth-labels">
                    <label for="name" class="auth-details">Name:</label>
                    <input type="text" name="name" id="name" />
                </div>

                <div class="auth-labels">
                    <label for="username" class="auth-details">Username:</label>
                    <input type="text" name="username" id="username" />
                </div>

                <div class="auth-labels">
                    <label for="password" class="auth-details">Password:</label>
                    <input type="password" name="password" id="password" />
                </div>

                <div class="auth-labels">
                    <label for="confirmPassword" class="auth-details">Confirm Password:</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" />
                </div>

                <button type="submit" class="auth-submit">Sign up</button>
            </form>
        </div>
</body>


</html>