<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign In</title>
</head>

<!-- views/auth/sign-in.ejs -->

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>Sign in</h1>
        <div class="auth-form">

            <img src="../images/character-with-book-and-plant.png" alt="Character reading a book near a plant"
                id="reading-book-pic" />

            <form action="/auth/sign-in" method="POST">

                <div class="auth-labels">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" />
                </div>

                <div class="auth-labels">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" />
                </div>

                <button type="submit" class="auth-submit">Sign in</button>

            </form>

        </div>
</body>


</html>