<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Bookshelves</title>
</head>


<div class="nav-bar">
    <%- include('../partials/_navbar.ejs') %>
</div>


<body>
    <h1>My Book Collection</h1>
    <a class="nav-link" href="/books/new">New Book</a>


    <%if (!books.length>0){ %>
        <%="You do not have any books yet!" %>
            <% } else { %>

                <div class="book-index">

                    <% books.forEach(book=> { %>
                        <li>
                            <div class="book-div">
                                <a class="book-title" href="/books/<%=book._id %>">
                                    <%=book.title%>
                                        <%if (book.favorite===true){ %>
                                            <img src="/images/book-heart.png" alt="book with a heart"
                                                id="book-heart-pic">
                                            <% }%>
                                </a>
                            </div>
                            <%})%>
                        </li>
                        <%}%>

                </div>


</body>

</html>