<!-- views/bookx/new.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a Book</title>
</head>
<div class="nav-bar">
    <%- include('../partials/_navbar.ejs') %>

</div>

<body>

    <div class="book-intro">
        <h1>Add a New Book</h1>
    </div>

    <div class="book-form">
        <img src="/images/child-reading-book.png" alt="Child reading a yellow book" id="child-reading-book">
        <form action="/books/" method="POST">
            <div class="auth-labels">
                <label for="title" class="details">Title:</label>
                <input type="text" name="title" id="title" class="text-box" />
            </div>

            <div class="auth-labels">
                <label for="author" class="details">Author:</label>
                <input type="text" name="author" id="author" class="text-box" />
            </div>

            <div class="auth-labels">
                <label for="genre" class="details">Genre:</label>
                <input type="text" name="genre" id="genre" class="text-box" />
            </div>

            <div class="auth-labels">
                <label for="pageNumber" class="details">Pages:</label>
                <input type="text" name="pageNumber" id="pageNumber" class="text-box" />
            </div>


            <div class="auth-labels">
                <label for="notes" class="details">Notes:</label>
                <textarea type="text" id="notes" class="text-box" name="notes"></textarea>
            </div>

            <div class="status">
                <label for="status" class="details">Status:</label>
                <select id="status-dropbox" name="status">
                    <option value="Unread">Unread</option>
                    <option value="Finished">Finished</option>
                    <option value="Currently Reading">Currently Reading</option>
                </select>
            </div>

            <div class="favorite">
                <label for="favorite" class="details">Favorite:</label>
                <input type="checkbox" id="favorite" name="favorite" />
            </div>

            <button class="submit" button type="submit">Submit</button>
        </form>
    </div>

    <div class="new-book-nav-links">
        <a class="nav-link" href="/">Back Home</a>
        <a class="nav-link" href="/books">View Your Shelf</a>
    </div>

</body>