<link rel="stylesheet" href="/stylesheets/partials.css" />
<!-- views/partials/_navbar.ejs -->

<nav>
    <% if(user) { %>
        <div class="navbar">
            <a class="nav-header" id="nav-header" href="/"> Bookshelf</a>


            <a class="authlink1" id="authlink1" href="/auth/sign-out">Sign Out</a>

        </div>
        <% } else { %>
            <div class="navbar">

                <h1 class="nav-header" id="nav-header">Bookshelf</h1>

                <div class="nav-links">
                    <a class="authlink1" id="authlink1" href="/auth/sign-in">Sign In</a>
                    <a class="authlink1" id="authlink1" href="/auth/sign-up">Sign Up</a>
                </div>
            </div>
            <% } %>
</nav>