<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Bookshelves</title>
</head>


<div class="nav-bar">
    <%- include('../partials/_navbar.ejs') %>
</div>


<body>
    <h1>My Bookshelves</h1>

    <a class="nav-link" href="/shelves/new">New Shelf</a>

    <%if (!shelves.length>0){ %>
        <%="You do not have any shelves yet!" %>
            <% } else { %>

                <div class="bookshelf">

                    <% shelves.forEach(shelf=> { %>
                        <li>
                            <a class="shelf-title" href="/shelves/<%=shelf._id %>">
                                <%=shelf.title%>
                            </a>
                            <%})%>
                        </li>
                        <%}%>

                </div>


</body>

</html>