<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Community Library</title>
</head>


<div class="nav-bar">
    <%- include('../partials/_navbar.ejs') %>
</div>


<body class="library-body">
    <div class="library-header">
        <h1 class="library-title">My Community Library</h1>
        <h2>Enjoy the shelves of your fellow readers in your community!</h2>
    </div>
    <div class="library-bookshelf">

        <% shelves.forEach(shelf=> { %>
            <li>
                <a class="library-shelf-title" href="/shelves/<%=shelf._id %>">
                    <%=shelf.title%>
                </a>
                <%})%>
            </li>

    </div>






</body>

</html>