<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Bookshelf</title>
</head>
<div class="nav-bar">
    <%- include('./partials/_navbar.ejs') %>
</div>

<body>




    <% if (user) { %>
        <h1>Welcome to Bookshelf, <%= user.name %>!</h1>


        <div class="container-home">
            <img src="images/stack-of-books.png" alt="Stack of Books" id="stack-of-books-pic" />

            <div class="home-links">
                <a class="home-navigate" href="/books/">My Books</a>
                <a class="home-navigate" href="/shelves/">My Shelves</a>
                <a class="home-navigate" href="/community/">My Community</a>
            </div>
        </div>
        <% } else { %>
            <h1>Welcome to Bookshelf</h1>

            <% } %>
                <div class="user-statistics">
                    <div class="user-stats-books"> You finished <%=count%> books!</div>
                </div>
</body>

</html>