<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Bookshelf</title>
</head>
<div class="nav-bar">
    <%- include('./partials/_navbar.ejs') %>
</div>

<body>

    <div class="container">
        <% if (user) { %>
            <h1>Welcome to Bookshelf, <%= user.name %>!</h1>
            <div class="home-links">
                <a class="home-navigate" href="/books/">View My Books</a>
                <a class="home-navigate" href="/shelves/">View My Bookshelves</a>
            </div>
            <% } else { %>
                <h1>Welcome to Bookshelf</h1>

                <% } %>
    </div>
</body>

</html>