<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Bookshelf</title>
</head>

<body>
    <%- include('./partials/_navbar.ejs') %>
        <div class="container">
            <% if (user) { %>
                <h1>Welcome to Bookshelf, <%= user.username %>!</h1>

                <a class="navigate" href="/books/">View My Bookshelves</a>

                <% } else { %>
                    <h1>Welcome to Bookshelf</h1>

                    <% } %>
        </div>
</body>

</html>