/* public/stylesheets/partials.css */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playpen+Sans:wght@100..800&display=swap");

.navbar {
    display: flex;
    flex-direction: row;
    padding: 2px 15px 2px;
    align-items: center;
    justify-content: space-between;
}

#nav-header {
    font-family: "Playpen Sans", sans-serif;
    font-size: 2vw;
    margin: 0;
    text-decoration: none;
    color: #F2CDA0;
    align-self: flex-start;
}

#nav-header:hover {
    box-shadow: 0 5px #BF6A4B;
    font-weight: bold;
}



#authlink1 {
    text-decoration: none;
    align-self: flex-end;
    color: #F2CDA0;
    font-weight: bold;
    font-size: 2vw;
    margin: .5vw;

}

.authlink1:hover {
    box-shadow: 0 5px #BF6A4B;

}