@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playpen+Sans:wght@100..800&display=swap");

@media (max-width: 580px) {
    .home-navigate {
        min-width: 50px;
        font-size: 10px;
    }

    .bookshelf {
        flex-wrap: wrap;
        justify-content: space-evenly;
        line-height: 50px;
    }

    #woman-reading-book {
        min-width: 70px;
        min-height: 60px;
    }

    .auth-form-signup {
        min-width: 250px;
    }

    .container-home {
        min-width: 250px;
    }

    .book-details {
        min-width: 200px;
    }



}

@media (max-width: 1100px) {
    .home-navigate {
        max-width: 300px;

    }


}

.navbar {
    display: flex;
    flex-direction: row;
    /* max-width: 100vw; */
    padding: 5px 20px;
    align-items: center;

}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3C5459;
    max-width: 95%;


}

h1 {
    font-family: "Patrick Hand", sans-serif;
    color: #F2CDA0;
    margin-top: 50px;
    margin-bottom: 1vw;
    font-size: 8vw;

}

h2 {
    font-size: 2vw;
}


.auth-form {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    width: 70vw;
    background-color: #F2CDA0;
    border-radius: 25px;
    padding: 10px;
    line-height: 70px;

}

.auth-form-signup {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 75vw;
    background-color: #F2CDA0;
    border-radius: 25px;
    padding: 10px;
    line-height: 5vw;

}

#reading-book-pic {
    height: 30vw;
    width: 30vw;
    justify-items: flex-start;
}

#woman-reading-book {
    height: 40vw;
    width: 35vw;
}

.auth-labels {
    font-family: "Playpen Sans", sans-serif;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vw;
    justify-content: flex-end;
    gap: 10px;

}

#username {
    height: 3vw;
    width: 20vw;
    border: 2px solid black;
    font-family: "Patrick Hand", sans-serif;
    font-size: 2vw;
}

#password {
    height: 3vw;
    width: 20vw;
    border: 2px solid black;
}

#name {
    height: 3vw;
    width: 20vw;
    border: 2px solid black;
    font-family: "Patrick Hand", sans-serif;
    font-size: 2vw;
}

#confirmPassword {
    height: 3vw;
    width: 20vw;
    border: 2px solid black;
}

#book-heart-pic {
    width: 5vw;
    height: 5vw;
}



.book-index {
    list-style: none;
    background-color: #F2CDA0;
    background-image: url("/images/book-doodle-background.png");
    background-size: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    align-items: flex-start;
    padding: 30px;
    gap: 1.5vw;
    width: 80%;
    height: 75vw;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 3vw;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

}

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #BF6A4B
}

.book-div {
    display: flex;
    border: 3px solid black;
    border-radius: 25px;
    flex-direction: row;
    align-items: center;
    background-color: #F2CDA0;
    max-width: 300px;
}

.book-title {
    text-decoration: none;
    color: black;
    padding: 8px 10px;
    font-size: 2vw;
    font-family: "Playpen Sans", sans-serif;

}

.book-div:hover {
    background-color: #84A4BF;
}



.bookshelf {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-top: 10vw;
    align-self: center;
    flex-wrap: wrap;
    line-height: 10vw;
    max-width: 90%;
    border: 3px solid black;
    justify-content: center;
    background-image: url("/images/book-background-pic.png");
    background-size: 500px;
}

.shelf-title {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: #F2CDA0;
    font-family: "Playpen Sans", sans-serif;
    font-size: 2vw;
    padding: 10px;

}

.shelf-title:hover {
    background-color: #84A4BF
}

.nav-link {
    text-decoration: none;
    border: 1px solid black;
    font-size: 2vw;
    color: black;
    padding: 5px 15px;
    width: 10vw;
    margin: 1vw;
    border-radius: 25px;
    background-color: #BF6A4B;
}

.nav-link:hover {
    background-color: #F2CDA0;
    font-weight: bold;
}

.home-links {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #84A4BF;
    border: 5px solid #F2CDA0;
    width: 85%;
    align-self: center;
    border-radius: 25px;
    padding: 30px 10px;
}

#stack-of-books-pic {
    width: 35vw;
    height: 40vw;
    align-self: flex-end;

}

.home-navigate {
    font-family: "Playpen Sans", sans-serif;
    color: black;
    justify-self: center;
    background-color: #BF6A4B;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 3vw;
    width: 20vw;

    margin: 15px;
    border: 1px solid black;
}

.home-navigate:hover {
    background-color: #F2CDA0;
}

.navigate {
    color: black;
    background-color: #BF6A4B;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 90%;

}

.book-form {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 80vw;
    background-color: #F2CDA0;
    border-radius: 25px;
    padding: 10px;
    line-height: 1vw;
}

.edit-book-form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-self: center;
    width: 50vw;
    background-color: #F2CDA0;
    border-radius: 25px;
    padding: 10px;
    line-height: 3vw;
}

#child-reading-book {
    height: 35vw;
    width: 35vw;

}

.new-book-nav-links {
    margin: 15px;
}

.details {
    font-size: 3vw;
    margin-right: 10px;
    font-family: "Playpen Sans", sans-serif;
}

.text-box {
    height: 5vw;
    border: 2px solid black;
    font-size: 2vw;
}

.submit {
    font-family: "Patrick Hand", sans-serif;
    font-size: 2vw;
    text-align: center;
    border-radius: 20px;
    padding: 1vw;
    margin: 10px;
    height: 5vw;
    width: 8vw;

}

#status-dropbox {
    border: 2px solid black;
    font-family: "Patrick Hand", sans-serif;
    height: 4vw;
    font-size: 2vw;
    padding: .5vw;
}

.status {
    font-family: "Playpen Sans", sans-serif;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vw;
    justify-content: flex-end;
    gap: 10px;
    justify-self: flex-start;
}

.submit:hover {
    font-weight: bold;
    background-color: #BF6A4B;
}

.favorite {
    font-family: "Playpen Sans", sans-serif;
    font-size: 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vw;
    justify-content: flex-end;
    gap: 10px;
    justify-self: flex-start;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: #BF6A4B;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.title-of-book-show-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    width: 50%;
    background-color: #F2CDA0;
    border-radius: 25px;
    padding: 30px;
    line-height: 20px;
    margin-top: 2vw;
}

.book-action {
    text-decoration: none;
    align-self: left;
    font-size: 13px;
    color: black;
    padding: 5px 15px;
    margin: 2vw;
    border-radius: 25px;
    background-color: #BF6A4B;
}

.book-action:hover {
    font-weight: bold;
}

.book-id-labels {
    font-size: 2.5vw;
    font-family: "Playpen Sans", sans-serif;
}

.action-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.index-nav {
    text-decoration: none;
    font-size: 20px;
    color: #F2CDA0;
    font-weight: bold;
    margin-top: 20px;
    width: fit-content;
    align-self: center;
}

.index-nav:hover {
    box-shadow: 0 5px #BF6A4B;
}

.edit-navigate {
    margin-top: 0;
}

.shelf-intro {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.shelf-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 2px solid black;
    margin-top: 3vw;
    background-color: #F2CDA0;
    border-radius: 25px;
    padding: 5vw;
    width: 80%;


}

.list-of-books-in-shelf {
    display: flex;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    margin: 1vw;
    flex-wrap: wrap;
    max-width: 170x;
    font-family: "Playpen Sans", sans-serif;
    background-color: #F2CDA0
}

.list-of-books-in-shelf:hover {

    background-color: #84A4BF;
}

.shelf-book-list {
    list-style: none;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-self: center;

}

.shelf-contents-title {
    font-size: 2vw;
    font-family: "Playpen Sans", sans-serif;
    margin-top: 5vw;
}

.add-books {
    width: 60vw;
    height: 5vw;
    padding: 1vw;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    margin: 5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    align-items: center;
    gap: 1vw;
    justify-self: center;
    font-size: 1.5vw;
    background-color: #F2CDA0;


}

#shelf-books {
    font-family: "Playpen Sans", sans-serif;
    margin-right: 2vw;
    margin-left: 0;
    font-size: 2vw;
}



.shelf-content {
    background-color: #F2CDA0;
    padding: 5vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 4px solid black;
    width: 70%;
    margin-top: 3vw;

}

.shelf-book-title {
    font-size: 2vw;
    font-family: "Playpen Sans", sans-serif;

}

.shelf-action-container {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    align-self: flex-start;
    align-items: flex-start;
    gap: 1vw;
}

.shelf-action {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: #BF6A4B;

}

.shelf-action:hover {

    background-color: #84A4BF;
    font-weight: bold;


}

.shelf-navs {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-self: center;

}

.shelf-book-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.shelf-book-title {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 2vw;
    padding: 8px 18px;
    border-radius: 25px;
    border: 1px solid black;
    flex-wrap: wrap;
    line-height: 60px;

}

.shelf-book-title:hover {
    background-color: #84A4BF;


}

.library-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 3vw;
    justify-content: flex-end;
    background-color: #F2CDA0;
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
    width: 70%;
    height: 17vw;
    align-self: center;

}

.library-title {
    color: #BF6A4B;
}

.library-bookshelf {
    margin-top: 4vw;
    list-style: none;
    background-color: #F2CDA0;
    padding: 30px 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 60%;
    height: 400px;
    align-self: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.library-shelf-title {
    display: flex;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 20px;
    margin: 5px;
    font-size: 2.5vw;
}

.library-shelf-title:hover {
    background-color: #84A4BF;


}

.library-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3C5459;
    max-width: 95%;
    background-image: url("/images/book-background-pic.png");
    background-size: contain;
}

.user-statistics {
    border: 5px solid #BF6A4B;
    background-color: #F2CDA0;
    display: flex;
    width: 20%;
    padding: 3vw;
    border-radius: 45px;
    margin: 5.5vw;
}

.user-stats-books {
    font-size: 2.5vw;
    font-family: "Patrick Hand", sans-serif;
}